<mat-card class="details">
  <div class="details_title">
    Dados Gerais
  </div>
  <div class="details_row">
    <div class="details_row__card">
      <div class="title">BPAADDLIG</div>
      <div class="info">
        Rua David Pedro 123, 2 ESQ
      </div>
    </div>
    <div class="details_row__card">
      <div class="title">POSCOD</div>
      <div class="info">
        12313:3123
      </div>
    </div>
  </div>
  <div class="details_row">
    <div class="details_row__card">
      <div class="title">CTY</div>
      <div class="info">
        Lisboa
      </div>
    </div>
    <div class="details_row__card">
      <div class="title">CRY</div>
      <div class="info">
        Odivelas
      </div>
    </div>
  </div>
  <div class="details_row">
    <div class="details_row__card">
      <div class="title">WEB</div>
      <div class="info">
        https://www.instagram.com
      </div>
    </div>
    <div class="details_row__card">
      <div class="title">TEL</div>
      <div class="info">
        361888000
      </div>
    </div>
  </div>
</mat-card>
