@import "../../../../styles.scss";

.details {
  padding-top: 10px 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &_title {
    display: block;
    margin: 20px;
    margin-top: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 20px 0;
  }

  &_row {
    display: flex;
    // justify-content: space-around;

    &__card {
      padding: 20px;
      padding-bottom: 0;
      margin: 15px 25px;
      // background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, .1);


      .title {
        font-size: 16px;
        color: $blue;
        font-weight: bold;
      }

      .info {
        padding: 5px;
        color: rgba(0, 0, 0, .4);
      }
    }
  }
}
