.wrapper {
  display: flex;

  .information-block {
    min-width: 600px;
  }
}

.hide {
  animation: hide 1s ease forwards;
  opacity: 0;
  display: none;
}

.hide_bluetable {
  animation: hidetable 1.2s ease forwards;
}



.show {
  animation: show 1s ease forwards;
  opacity: 1;
  display: block;
}



@keyframes hide {
  0% {
    opacity: 1;
    display: block;
    width: 100%;
  }

  90% {
    opacity: 0;
    width: 0%;
  }

  100% {
    width: 0;
    opacity: 0;
    display: none;
  }
}

@keyframes hidetable {
  0% {
    opacity: 1;
    display: block;
  }

  50% {
    opacity: .5;
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(-1000px);
    opacity: 0;
    width: 0;
    display: none;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    display: none;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    display: block;
  }
}
