<div class="wrapper">
  <app-interventions [ngClass]="{'hide_bluetable': showPreview, 'show': !showPreview}"></app-interventions>
  <div class="information-block">
    <app-client-header (selectOption)="onOptionSelected($event)"></app-client-header>
    <app-client-details></app-client-details>
  </div>
  <div class="testblock" [ngClass]="{'hide': !showPreview, 'show': showPreview}">
    <app-stock-obra></app-stock-obra>
  </div>
</div>
<app-construction-list></app-construction-list>
