<!-- <app-header></app-header> -->

<mat-toolbar id="mainToolbar">
  <div class="header_logo">Procensus<span>APP</span></div>
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon">search</mat-icon>
  <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after beyond" matBadgeColor="accent">notifications_none
  </mat-icon>
  <div mat-card-avatar class="avatar"></div>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav [ngStyle]="{ 'width.px': contentMargin }" mode="side" #sidenav id="sidenav"
    [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <mat-list id="menus">
      <mat-card class="mycard">
        <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">menu</mat-icon>
      </mat-card>
      <mat-list-item>
        <button [routerLink]="['']" class="menu-item" mat-flat-button>
          <span class="letters-link">D</span>
          Something
        </button>
      </mat-list-item>
      <mat-list-item>
        <button [routerLink]="['/interventions']" class="menu-item" mat-flat-button>
          <span class="letters-link active-letter">R</span>
          Something
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>calendar_today</mat-icon>
          Calendar
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>settings</mat-icon>
          Settings
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>bookmarks</mat-icon>
          Bookmarks
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item active" mat-flat-button>
          <mat-icon>remove_red_eye</mat-icon>
          Looking
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>person_outline</mat-icon>
          Account
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button [routerLink]="['/client']">
          <span class="letters-link">R</span>
          Something
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <!-- <mat-selection-list class="dash-list">
      <h3>Content</h3>
      <mat-list-option *ngFor="let todo of task">
        {{todo}}
      </mat-list-option>
    </mat-selection-list> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
