<div class="interventions">
  <div class="interventions_top">
    <div class="interventions_logo"><img src="../../../assets/icons/set2.svg" alt="logo">{{tableName}}</div>
    <div class="planning">
      <mat-form-field *ngIf="selectItems">
        <mat-label>{{selectName}}</mat-label>
        <mat-select (selectionChange)="selected.emit($event.value)">
          <mat-option>Selecione</mat-option>
          <mat-option *ngFor="let item of selectItems" [value]="item.key">
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="interventions_sections">
    <div *ngFor="let item of titles">{{item.value}}</div>
  </div>
  <div class="interventions_filters">
    <div *ngFor="let item of titles" class="interventions_filter">
      <input type="text" #input (blur)="onFilter(item.key, $event.target.value)">
      <mat-icon>filter_list</mat-icon>
    </div>
  </div>
  <div class="contracts">
    <div class="viewport" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="120"
      (scrolled)="onScroll()" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
      <div class="contract" *ngFor="let item of items; let i = index" (click)="indexItem.emit(i)">
        <span *ngFor="let itemValue of item | keyvalue">{{itemValue.value}}</span>
      </div>
    </div>
     <div class="contracts_amount">
      {{items.length}} Resultados Encontrados
    </div>
  </div>
</div>
