@import "../../../styles.scss";

/* input color class */
::ng-deep input.mat-input-element {
  color: #ffffff;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .mat-form-field-underline {
  color: #fff !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #fff !important;
}

::ng-deep mat-form-field {
  mat-label {
    color: #ffffff;
  }
}

::ng-deep .mat-select-value-text {
  color: #ffffff;
}

::ng-deep .mat-select-arrow {
  color: #ffffff !important;
}

.viewport {
  height: 400px;
  width: 100%;
  overflow: scroll;
}

.interventions {
  width: 550px;
  padding: 0px;
  border-radius: 5px;
  background-color: $darkblue;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding: 0px 10px;

  /* input color class */
  ::ng-deep input.mat-input-element {
    color: #ffffff;
  }

  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #fff !important;
  }

  ::ng-deep .mat-form-field-underline {
    color: #fff !important;
  }

  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #fff !important;
  }

  ::ng-deep mat-form-field {
    mat-label {
      color: #ffffff;
    }
  }

  ::ng-deep .mat-select-value-text {
    color: #ffffff;
  }

  ::ng-deep .mat-select-arrow {
    color: #ffffff !important;
  }

  &_top {
    display: flex;
    padding: 20px 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;

    img {
      width: 30px;
      margin-right: 10px;
    }
  }

  &_sections {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: darken($darkblue, 5);
  }

  &_item {
    margin: 0px 10px;
    font-size: 16px;
  }

  &_filters {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
  }

  &_filter {
    position: relative;

    input {
      background-color: darken($darkblue, $amount: 5);
      padding: 5px 7px;
      border-radius: 4px;
      border: none;
      color: #fff;
      outline: none;
    }

    mat-icon {
      position: absolute;
      right: 0;
      top: 10%;
      font-size: 20px;
    }
  }
}

.planning select {
  background: darken($darkblue, 5);
  color: #ffffff;
  border: none;
  width: 200px;
  height: 30px;

  span {
    color: $accent;
  }


}



.contracts {
  padding-bottom: 5px;
  margin-bottom: 40px;

  &_amount {
    text-align: center;
    padding: 10px 0;
  }
}


.contract {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-top: 1px solid #ffffff; */
  border-bottom: .5px solid rgba(255, 255, 255, 0.4);
  padding: 10px 0;

  &:first-child {
    border-top: .5px solid rgba(255, 255, 255, 0.4);
  }

  &:hover {
    background: $accent;
    cursor: pointer;
  }
}
