@import "../../../../styles.scss";


.construction-list {
  border-top: 5px solid $darkblue;
  width: 500px;
  font-family: Roboto, sans-serif;

  &_title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
  }

  &_row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;


  }

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(#333, .4);
    border-radius: 3px;

    .title {
      font-size: 18px;
      margin: 5px;
    }

    .descr {
      font-weight: 200;
      font-size: 14px;
    }
  }

  &-buttons {
    text-align: center;
    padding: 10px 0;

    .btn {
      margin: 0px 10px;
      padding: 10px 25px;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 14px;
      color: #ffffff;
      transition: all .4s ease;
      box-shadow: 0px 2px 4px rgba(#333, .4);

      &:hover {
        transform: translateY(-2px) scale(1.1);
      }

      &-create {
        background-color: green;
      }

      &-delete {
        background-color: red;
      }

      &-change {
        background-color: grey;
      }
    }

  }
}
