<div class="construction-list">
  <div class="construction-list_title">
    Construction
  </div>
  <div class="construction-list_row">
    <div class="construction-list_item">
      <div class="title">Location</div>
      <div class="descr">Odivelas</div>
    </div>
    <div class="construction-list_item">
      <div class="title">Item Ref</div>
      <div class="descr">Building</div>
    </div>
  </div>
  <div class="construction-list_row">
    <div class="construction-list_item">
      <div class="title">Item Description</div>
      <div class="descr">Big building with doors</div>
    </div>
    <div class="construction-list_item">
      <div class="title">PCU</div>
      <div class="descr">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>
  <div class="construction-list_row">
    <div class="construction-list_item">
      <div class="title">Quantity displayed</div>
      <div class="descr">12</div>
    </div>
    <div class="construction-list_item">
      <div class="title">Quantity Val</div>
      <div class="descr">5</div>
    </div>
  </div>
  <div class="construction-list_row">
    <div class="construction-list_item">
      <div class="title">Quantity Not val</div>
      <div class="descr">6</div>
    </div>
  </div>

  <div class="construction-list-buttons">
    <button class="btn btn-create">
      Create
    </button>
    <button class="btn btn-delete">
      Delete
    </button>
    <button class="btn btn-change">
      Change
    </button>
  </div>
</div>
