<div class="stock-obra">
  <div class="stock-obra_title">
    Stock Obra
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="LOC">
      <th mat-header-cell *matHeaderCellDef> LOC </th>
      <td mat-cell *matCellDef="let element"> {{element.LOC}} </td>
    </ng-container>

    <ng-container matColumnDef="ITMREF">
      <th mat-header-cell *matHeaderCellDef> ITMREF </th>
      <td mat-cell *matCellDef="let element"> {{element.ITMREF}} </td>
    </ng-container>

    <ng-container matColumnDef="ITMDES">
      <th mat-header-cell *matHeaderCellDef> ITMDES </th>
      <td mat-cell *matCellDef="let element"> {{element.ITMDES}} </td>
    </ng-container>

    <ng-container matColumnDef="PCU">
      <th mat-header-cell *matHeaderCellDef> PCU </th>
      <td mat-cell *matCellDef="let element"> {{element.PCU}} </td>
    </ng-container>

    <ng-container matColumnDef="QTYDISP">
      <th mat-header-cell *matHeaderCellDef> QTYDISP </th>
      <td mat-cell *matCellDef="let element"> {{element.QTYDISP}} </td>
    </ng-container>
    <ng-container matColumnDef="QTYVAL">
      <th mat-header-cell *matHeaderCellDef> QTYVAL </th>
      <td mat-cell *matCellDef="let element"> {{element.QTYVAL}} </td>
    </ng-container>
    <ng-container matColumnDef="QTYNVAL">
      <th mat-header-cell *matHeaderCellDef> QTYNVAL </th>
      <td mat-cell *matCellDef="let element"> {{element.QTYNVAL}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
