@import "../../../../styles.scss";

.stock-obra {
  font-family: Roboto, sans-serif;
  padding: 20px;
  padding-top: 40px;

  &_title {
    padding: 20px;
    text-align: center;
    // padding-top: 0;
    font-size: 24px;
    background-color: $blue;
    color: #ffffff;
  }


  table {
    width: 500px;

    .table-row {
      &:hover {
        background-color: $accent;
        cursor: pointer;
      }
    }
  }
}
