@import "../../../../styles.scss";


/* input color class */
// ::ng-deep input.mat-input-element {
//   color: #ffffff;
// }

/* Change label color on focused */
.mat-form-field.mat-focused .mat-form-field-label {
  color: #333333 !important;
}

.mat-form-field-underline {
  color: #333333 !important;
}

/* underline border color on focused */
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $darkblue !important;
  height: 0.5px;
}


mat-form-field mat-label {
  color: $darkblue !important;
}

.mat-select-value-text {
  color: #333333 !important;
}

.mat-select-arrow-wrapper .mat-select-arrow {
  color: $darkblue !important;
}

.titles {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.header_card {
  padding: 10px;
  margin: 0px 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &__title {
    letter-spacing: 1px;
    font-size: 16px;
  }

  &__descr {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
  }
}

.preview {
  margin: 5px 0;
  text-align: center;
}
