<div class="client-header">
  <mat-card class="titles" style="width: 100%">
    <div class="header_card">
      <div class="header_card__title">BPCNUM</div>
      <div class="header_card__descr">Lorem, ipsum dolor.</div>
    </div>
    <div class="header_card">
      <div class="header_card__title">BPCNUM</div>
      <div class="header_card__descr">Lorem, ipsum dolor.</div>
    </div>
    <div class="header_card">
      <div class="header_card__title">BPCNUM</div>
      <div class="header_card__descr">Lorem, ipsum dolor.</div>
    </div>
    <div class="header_card">
      <div class="header_card__title">BPCNUM</div>
      <div class="header_card__descr">Lorem, ipsum dolor.</div>
    </div>
  </mat-card>

  <div class="preview">
    <mat-form-field>
      <mat-label>Preview</mat-label>
      <mat-select>
        <mat-option (onSelectionChange)="hideBar($event)" *ngFor="let item of items" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
