<div class="interventions">
  <div class="interventions_top">
    <div class="interventions_logo"><img src="../../../assets/icons/set2.svg" alt="logo">Interventions</div>
    <div class="planning">
      <mat-form-field>
        <mat-label>Mode</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of items" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="interventions_sections">
    <div class="interventions_item interventions_name">Obra/Contracto</div>
    <div class="interventions_item interventions_description">Descricao da Obra</div>
    <div class="interventions_item interventions_card">Tarefa</div>
  </div>
  <div class="interventions_filters">
    <div class="interventions_filter">
      <input type="text">
      <mat-icon>filter_list</mat-icon>
    </div>
    <div class="interventions_filter">
      <input type="text">
      <mat-icon>filter_list</mat-icon>
    </div>
    <div class="interventions_filter">
      <input type="text">
      <mat-icon>filter_list</mat-icon>
    </div>
  </div>
  <div class="contracts">
    <div class="viewport" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="120"
      (scrolled)="onScroll()" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
      <div class="contract" *ngFor="let item of itemsToShow">
        <span>{{ item.name }}</span>
        <span>{{ item.description }}</span>
        <span>{{ item.assignment }}</span>
      </div>
    </div>
    <div class="contracts_amount">
      {{itemsToShow.length}} Resultados Encontrados
    </div>
  </div>
</div>
