<nav>
  <button class="toggle-btn"><img src="../../../../assets/icons/toggle.svg" alt="menu"></button>
  <div class="nav-sections">
    <button class="nav-section">
      <span>R</span>
    </button>
    <button class="nav-section">
      <span>D</span>
    </button>
    <button class="nav-section">
      <i class="material-icons">
        calendar_today
      </i>
    </button>
    <button class="nav-section">
      <i class="material-icons">
        settings
      </i>
    </button>
    <button class="nav-section">
      <i class="material-icons">
        donut_small
      </i>
    </button>
    <button class="nav-section active">
      <i class="material-icons">
        settings
      </i>
    </button>
    <button class="nav-section">
      <i class="material-icons">
        bookmark
      </i>
    </button>
    <button class="nav-section">
      <i class="material-icons">
        person
      </i>
    </button>
    <button class="nav-section">
      <span>
        S
      </span>
    </button>
  </div>
</nav>
