@import "../../../../styles.scss";


nav {
  padding: 20px 0;
  height: 90vh;
  width: 80px;
  text-align: center;
  background-color: $grey;


  .toggle-btn {
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;

    span {
      font-size: 20px;
      font-weight: 200;
      border-radius: 50%;
      padding: 4px 8px;
      background-color: $blue;
      color: #ffffff;
    }
  }

  .nav-sections {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nav-section {
      padding: 15px 0;
      border-left: transparent 5px solid;
      transition: all .5s ease;
      outline: none;

      i {
        color: darken($grey, 50);
      }

      &:focus {
        outline: none;
      }

      &:hover {
        border-left: $accent 5px solid;
      }
    }

    .nav-section.active {
      border-left: $accent 5px solid;

      i {
        color: $blue;
      }
    }
  }
}
