// @import "~styles.scss";
@import "../../../../styles.scss";

.header {
  height: 80px;
  width: 100%;
  padding: 0px 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_logo {
    position: relative;
    color: $darkblue;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;

    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $blue;
      border-radius: 50%;
      top: 25%;
      left: -15%;

    }

    span {
      color: $blue
    }
  }

  &_profile {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin: 0px 10px;

        a {
          img {
            width: 30px;
          }
        }

        a.profile-icon {
          img {
            width: 40px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
