<header class="header">
  <div class="header_logo">Procensus<span>APP</span></div>
  <div class="header_profile">
    <ul>
      <li><a href="#"><img src="../../../../assets/icons/search.svg" alt="Search"></a></li>
      <li><a href="#"><img src="../../../../assets/icons/notifications.svg" alt="Notifications"></a></li>
      <li><a class="profile-icon" href="#"><img src="../../../../assets/icons/profile.jpeg" alt="Client"></a>
      </li>
    </ul>
  </div>
</header>
